<!doctype html>
<html>

<head>
    <title>About <%=appData.appName%>
    </title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    <h1>About <%=appData.appName%>
    </h1>
    <p> A web application called <%=appData.appName%>, where you can track your workouts, add individual exercises and keep updated. </p>
</body>

</html>
