<!DOCTYPE html>
<html>
  <head>
    <title>Logged Out of <%=appData.appName%></title>
     <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>You are now logged out of <%=appData.appName%></h1>

    <p>Thanks for using the Workout Tracker.</p>

    <p><a href="/user/login">Login again</a></p>
    <p><a href="/">Home</a></p>
  </body>
</html>
