<!doctype html>
<html>
<head>
  <title><%=appData.appName%> - Search Workouts</title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
  <div class="page-wrapper">
    <div class="card">

      <h1><%=appData.appName%> - Search Your Workouts</h1>

      <form action="/exercise/searchresults" method="GET">
        <p>What workout are you looking for?</p>

        <input id="search-box" type="text" name="keyword" placeholder="e.g. cardio">
        <input type="submit" class="button" value="Search">
      </form>

    </div>
  </div>
</body>
</html>
